main {
  background-color: lightseagreen;
  padding: 20px;
  margin: 20px; }
  main h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace; }
  main div {
    display: flex; }
    main div img {
      padding: 10px;
      width: 50%; }

footer {
  background-color: blue; }
