.mainHome{
    background-color: $bgColorMain;
    padding: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    color: map-get($map: $estilos, $key: colorLetras);
    h1, p{
        @include displayfont (flex, center, bold);
        font-family: 'Courier New', Courier, monospace;}
    img{
        width: 100%;}
}

.mainGaleria{
    @extend .mainHome;
    border: solid;
    border-color: map-get($map: $estilos, $key: colorBorders);
    h1{
        display: flex;
        justify-content: center;
        }
    .imgGaleria{
        display:flex;
        & img{
        padding: 10px;
        width: 50%;}
    }
}

@media only screen and (max-width: 768px){
    .mainGaleria{
        & .imgGaleria{
            flex-direction: column;
            & img{
                width: 100%;}
        }
    }
}