main{
    padding: 20px;
    margin: 20px;
    h1{
        display: flex;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;
        }
    div{
        display:flex;
        & img{
        padding: 10px;
        width: 50%;
        }
    }
}